#ban_container img {
	height: 60vh; /* width: 100vw; tava ficando mais largo do que devia */
	width: 100%; /* interessante saber que usando a porcentagem o mesmo não acontece */
}

article #texto_container {
	width: 70vw;
	margin: 5rem auto;
	border: 2px solid #2b506e;
	border-radius: .8rem;
}

article #texto_inicial {
	font-size: 1.8rem;
	padding: 2rem;
	margin-bottom: 0;
}

article #carrossel { /* não precisa mais mexer (talvez a altura) */
 	width: 80%;
	height: 30rem; /* como o tamanho da imagem está fixo, o que aumenta aqui é o espaço total do caption */
	margin: 5rem auto;
	display: flex;
	justify-content: space-around;
}

article .ultimos_cafes_analisados {
	width: 194px;
	/* antes tava com 25rem de altura, mas tava limitando a altura total */
}

article .card {
	padding: 0;
}

article .ultimos_cafes_analisados /* :hover */{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article #carrossel .descricao {
	font-weight: 700;
	text-align: center;
	justify-content: center;
}

article .miniatura_cafe { /* tamanho da imagem da capsula */
	width: 192px;
	height: 192px;
}

article .star_rating { /* tamanho da imagem de qualificação */
	width: 192px;
	padding: 1rem;
}

article #receitas_container {
 	width: 60vw;
 	margin: 0 auto 5rem auto;
 	border: 1px solid #000;
	border-radius: .8rem;
}

article #titulo_receitas_recentes {
	font-size: 2.5rem;
	padding: 1rem; /* temporário */
	border-bottom: 1px solid #000;
	margin-bottom: 5rem;
}

article .tumb_container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5rem;
}

article .receitas {
	height: 35rem;
 	width: 25rem;
 	border: 1px solid #000;
 	display: inline-block;
}
