:root {
    --color-blue: #325d81; 
    --color-blue-dark: #2b506e;

    --color-button-primary:#4682b4;
    --color-button-secondary:#4078a5;
    
    --color-template-text:#E6fffA;

    --color-primary-title:;
    --color-socondary-title:;

    font-size: 60%;

    /* cor das bordas #d9d9d9 */
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* Tem alguma coisa errada com a largura (100vw) do site */

html, body {
	height: 100vh;
	font: 400 1.6rem Raleway, sans-serif;
    min-height: calc(100vh - 38.391px - 384px);
    /*
    Aqui eu estou falando que o valor minimo de altura é 100vh menos os valores do header e footer.
    Isto é feito para que o footer sempre fique na parte de baixo da página.
    */
}

footer {
    font: 400 1.6rem Raleway, sans-serif;
    /* O footer estava junto com o html e body, originalmente */
}
