:root {
    --color-blue: #325d81; 
    --color-blue-dark: #2b506e;

    --color-button-primary:#4682b4;
    --color-button-secondary:#4078a5;
    
    --color-template-text:#E6fffA;

    --color-primary-title:;
    --color-socondary-title:;

    font-size: 60%;  
}

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body, footer {
	height: 100vh;
	font: 400 1.6rem Raleway, sans-serif;
}